.main-image {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
  padding-bottom: 0;

}


html, body {
    max-width: 100%;

}

.admin {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-left: 150px;
  width: 60%;

  padding-right: 70px;
}
.company:hover {
  font-weight: bold;
}
.container{
  height:7em;

}
.navItems:hover {
  background-color: #C0C0C0;
}
.hover:hover {
  background-color: #C0C0C0;
}

.footer-container{
  height: 5vh;
  width: 100%;
  bottom: 0;
  border-top-style: solid;
  border-color: #1F1F1F;

}
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    margin-left: 2em;
    height:400px;
    width: 400px;
    margin-bottom: 30px;
    margin-top: 30px;


}
.responsive + .responsive {
  margin-top: 20px;
}
.photobomb{
  height:100%;
  width:100%;
}
.photo-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.dashboard-text{
  margin: 0 auto;
  padding-top:50px;
  text-align:left;
  width: 80%;
  margin-bottom: 10px;
  font-size: 15px;
}
